@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

ul {overflow:hidden;}
ul li {float:left; margin-right:20px;}
ul li img {border:2px solid #000;}
.clear {clear: both}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.background{
    position: relative;
    min-height: 1000px;
    min-height: 800px;
    max-width: 2440px;
    max-height: 902px;
    opacity: 1;
    background-color:#000;
    background-image:url(img/xxx.jpg);
    background-position:center center;
    background-size: cover;    
}header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky{
    padding: 5px 100px;
    background: #fff;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;   
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a{
    color: #000;
}
big{
    position: relative;
    color: #fff;
    left: 100px;
    top: 200px;
    font-size: xx-large;
}
span{
    position: relative;
    color: #fff;
    top: 230px;
    font-size: larger;
}